.board{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.board div{
    background-color: cadetblue;
    border: 2px solid white;
    display: flex;
    align-items: center;
}