*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navBar {
    margin-top: 1.25rem;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: white;
    justify-content: left;
    align-items: center;
    padding: 1rem 0;
    z-index: 500;
    margin-bottom: 2.5rem;
}

.button{
    background-color: rgb(109, 161, 239);
    color: white;
    padding: 8px 15px;
    margin: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.4rem;
    transition: 150ms;
}

#currPage{
    background-color: rgb(38, 100, 182);
}

.button:hover {
    background-color: rgb(72, 134, 215);
    color: white;
    transform: scale(1.1);
}

div{
    text-align: center;
    color: rgb(82, 114, 208);
    padding: 0 10px
}

.pic{
    border: 5px solid rgb(72, 134, 215);
    border-radius: 20px;
}


@media(max-width: 576px) {          /* for mobile size */
    .navBar{
        padding: 15px 0;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .button{
        font-size: 0.75rem;
    }

    .pic {
        width: 100%;
        border-width: 3px;
        margin: 20px 0;
        width: 80%;
        height: auto;
    }
}
