*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#navBar {
    position: fixed;
    top: 25px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: left;
    align-items: center;
}

.links{
    background-color: rgb(109, 161, 239);
    color: white;
    padding: 8px 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: 100ms;
}

.links:hover {
    background-color: rgb(72, 134, 215);
    color: white;
    transform: scale(1.2);
}

div{
    text-align: center;
    color: rgb(82, 114, 208);
    margin-top: 7.5%;
}

img{
    border: 5px solid rgb(72, 134, 215);
    border-radius: 20px;
}
