.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.circle{
    width: 13rem;
    height: 14rem;
    border-radius: 50%;
    background-color: rgb(109, 161, 239);
    flex-wrap: wrap;
    margin: 4rem;
    color: white;
    font-size: 1.5rem;
    align-content: center;
}   


@media(max-width: 933px) {          /* for mobile size */

    .container{
        height: 50vh;
    }

    .circle{
        width: 6rem;
        height: 6rem;
        font-size: 0.8rem;
        margin: 1rem;

    }
}